@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
  background-color: #040615;
  color: #f8fafc;
}
@layer base {
  * {
    box-sizing: border-box;
  }

  body {
    @apply m-0 min-h-screen bg-midnight text-white antialiased;
  }

  main {
    @apply min-h-screen;
  }
}
